<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">ZimGPT Dashboard</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'dashboard.home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'dashboard.users' %}">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'dashboard.payments' %}">Payments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Settings</a>
                </li>
            </ul>
            <form class="d-flex">
                <a href="/admin/logout/"><span class="btn btn-outline-success">Logout</span></a>
            </form>
        </div>
    </div>
</nav>